.space-grotesk {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  h1{
    text-shadow: 2px 2px 2px #e95c5c;
  }
  /* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #21b221;
  }
  
  /* mouse over link */
  a:hover {
    color: #cc54cc;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }